*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#fotoagenda{
    
    background-image: url('Agenda2.png')!important;
    width: 100%;
    height: 424px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 35%;
}
#Agenda{
    text-align: center; 
    padding-top: 13%; 
    color:rgb(19, 119, 57);
    font-size: 3em;
}
#iconagenda{
    width:5%;
    color:rgb(19, 119, 57);
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Estilos para a div que contém o campo de entrada de data */
.input-data {
    display: inline-block;
    position: relative;
    padding: 0;
    margin: 0;
    font-size: 16px;
    width: 200px;
  }
  
  /* Estilos para o campo de entrada de data */
  .input-data input[type="date"] {
    display: block;
    position: relative;
    width: 100%;
    height: 40px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #555;
    font-size: 16px;
  }
  
  /* Estilos para o ícone de calendário */
  .input-data::after {
    content: "\f073";
    font-family: "Font Awesome 5 Free";
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #555;
    pointer-events: none;
  }
  
  /* Estilos para a borda quando o campo de entrada de data está em foco */
  .input-data input[type="date"]:focus {
    outline: none;
    border: 2px solid #0077cc;
    box-shadow: 0 0 3px #0077cc;
  }
  
