*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
#imgLogo{
    width: 50%;
    height: 50%;
}

body {
  
     /* Define a imagem como plano de fundo do body */
     background-image: url('TurismoAventura/img/fundo2.png');
   
  }
  #fundobody{
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir todo o body */
    width: 200%;

  

  }
p {
    color:#000000;
    text-align: center;
    font-size: larger;
    font-weight: 500;
}
